.App {
  text-align: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #263b5e;
  font: 25px sans-serifs;
  color: #e37425;
  text-align: center;
}

.todo-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputContainer {
  width: 200px;
}

List ul,
li {
  text-align: initial;
  list-style-type: disc;
  color: white;
}
